.cartContainer {
  min-width: 440px;
  padding: 16px;
  border: 1px solid #F0F0F5;
  border-radius: 8px;
  row-gap: 18px;
}

.items {
  display: flex;
  margin-top: 34px;

}

.cartHeader {
  font-size: 18px;
  font-weight: 700;
}

.productInfo {
  width: 100%;
  display: flex;
  position: relative;
  margin-left: 21px;
  justify-content: space-between;
}

.productImg {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.productName {
  font-size: 16px;
  font-weight: 400;
}

.amountController {
  display: flex;
  width: 100px;
  position: absolute;
  top: 34px;
  left: 0;
  justify-content: space-between;
  align-items: center;
}

.amountNumber {
  font-size: 14px;
}


.price {
  font-weight: 700;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-top: 1px solid #F0F0F5;
  margin-top: 32px;
}

p {
  font-weight: 700;
}