.stepper{
  max-width: 540px;
}

.stepperTitle{
  font-size: 32px;
}

.progressContainer{
  display: flex;
  position: relative;
  justify-content: space-between;
}

.progress{
  flex: 0.2;
  width: 20px;
  display: flex;
  justify-content: center;
}

.circleContainer{
  height: 24px;
  width: 24px;
  line-height: 1.3;
  margin: 0 8px 0 0;
  border: 1px solid #AFB1BD;
  border-radius: 50%;
  text-align: center;
}

.labelContainer{
  line-height: 1.4;
  color: #AFB1BD;
}

.content{
  color: #AFB1BD;
}

.connectLine{
  position: absolute;
  top: 15px;
  height: 1px;
  width: 60px;
  background-color: #AFB1BD;
}

div[active='true'] span.content {
  display: none;
}

div[active='true'] .circleContainer::after{
  content: '\2714';
}

div[active='true'] .circleContainer, .connectLine {
  background-color: #000;
  color: #fff;
  font-weight: 700;
}

div[active='true'] .labelContainer{
  color: #000;
  font-weight: 700;
}

