.stepper {
  max-width: 540px;
}

.stepperTitle {
  font-size: 32px;
  font-weight: 700;
}

.progressContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 48px;
}

.progress {
  flex: 0.2;
  width: 20px;
  display: flex;
  justify-content: center;
}

.circleContainer {
  height: 24px;
  width: 24px;
  line-height: 1.2;
  margin: 0 8px 0 0;
  border: 1px solid #AFB1BD;
  border-radius: 50%;
  text-align: center;
}

.labelContainer {
  line-height: 1.5;
  font-size: 16px;
  color: #AFB1BD;
}

.content {
  color: #AFB1BD;
}

.connectLine {
  position: absolute;
  top: 13px;
  height: 1px;
  width: 60px;
  background-color: #AFB1BD;
}

div[done='done'] span.content {
  display: none;
}

div[done='done'] .circleContainer::after {
  content: '\2714';
}

div[active='true'] .circleContainer,
.connectLine {
  background-color: #000;
  color: #fff;
  font-weight: 700;
}

div[active='true'] .labelContainer {
  color: #000;
  font-weight: 700;
}